@import "./base.scss";

#contentPanel {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 1rem 0.5rem 2rem 0.5rem #00000050, 2rem 1rem 4rem 0.5rem #00000000;
  border-width: 2pt;
  border-style: solid;
  border-color: #00000080;
  align-content: center;
  justify-content: space-around;
  align-items: stretch;
  justify-items: stretch;
  flex-flow: column;
  margin: 4vh 4vw;
  padding: 1rem 5vmax;
  width: auto;
  height: inherit;
  justify-self: stretch;
  align-self: stretch;
  transition: 200ms;
}

#contentPanel:hover {
  box-shadow: 1rem 0.5rem 2rem 0.5rem #00000050, 1.5rem 1rem 4rem 0.5rem #00000040;

}

#contentPanel .authPanel {
  padding: 2% 5%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-evenly;
  align-self: center;
  justify-self: center;
  font-size: 11.5pt;
  row-gap: 10px;
  height: inherit;

}

.authPanel>input {
  justify-self: center;
  align-self: center;
  font-size: 11.5pt;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 1ch;
  border-style: solid;
  border-color: #00000060;
  font-weight: 400;
  flex-shrink: 1;
  min-width: 300px;
  border-width: 2pt;
}

.authPanel>h1 {
  font-size: 24pt;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 1ch 0 0 0;
  letter-spacing: 2px;
  min-width: 300px;
}

.authPanel>label {
  justify-self: center;
  width: 60%;
  align-self: center;
  font-size: 11.5pt;
  text-align: center;
  border-radius: 1ch;
  margin: 0;
  padding: 0;
  font-weight: 500;
  flex-shrink: 1;
  min-width: 300px;
}

.authPanel>p {
  justify-self: center;
  width: auto;
  align-self: center;
  font-size: 13pt;
  text-align: center;
  border-radius: 1ch;
  margin: 0;
  padding: 0;
  font-weight: 400;
  flex-shrink: 1;
  min-width: 300px;
  color: firebrick;
}

.authPanel>button {
  border-style: solid;
  border-color: #00000000;
  color: white;
  background: seagreen;
  text-decoration: none;
  font-weight: 500;
  font-size: 11.5pt;
  padding: 0.5ch;
  transition: 75ms;
  width: fit-content;
  align-self: center;
  justify-self: center;
  padding: 0.5ch 4ch;
  border-radius: 1ch;
  text-transform: uppercase;
  border-color: #00000060;
}


.authPanel>a:any-link {
  justify-self: center;
  width: 70%;
  align-self: center;
  font-size: 11.5pt;
  font-weight: 600;
  text-align: center;
  border-radius: 1ch;
  margin: 0;
  padding: 0.5ch;
  text-decoration: underline;
  color: dimgray
}

.authPanel>a:any-link:active {
  justify-self: center;
  width: 70%;
  align-self: center;
  font-size: 11.5pt;
  font-weight: 600;
  text-align: center;
  border-radius: 1ch;
  margin: 0;
  padding: 0.5ch;
  text-decoration: underline;
  color: mediumseagreen
}

.authPanel>a:any-link:hover {
  justify-self: center;
  width: 70%;
  align-self: center;
  font-size: 11.5pt;
  font-weight: 600;
  text-align: center;
  border-radius: 1ch;
  margin: 0;
  padding: 0.5ch;
  text-decoration: underline;
  color: dimgray
}


.authPanel>button:hover {
  color: white;
  background: mediumseagreen;

}

.authPanel>button:active {
  color: lightgreen;
  background: darkgreen;

}

.authPanel>select {
  align-self: center;
  justify-self: stretch;
  font-size: 11.5pt;
  margin: 0.25ch;
  padding: 0.25ch 1ch;
  width: 65%;
  min-width: 300px;
  border-radius: 1ch;
  border-style: none;
  border-style: solid;
  border-color: #00000060;
  background-color: whitesmoke;
  color: #000;
}