@font-face {
  font-family: 'Noto Sans', sans-serif;
  src:
    url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}

:root {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  font-size: 11pt;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(to top, gainsboro 0%, white 50%, white 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 400;
  margin: 3rem 0rem;
  padding: 0rem 0rem;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}


#AppBase {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  justify-self: stretch;
  align-self: stretch;
  margin: 0;
  bottom: 0;
}

table {
  border-style: none;
  border-width: 2px;
  border-color: dimgray;
  padding: 0ch;
  border-radius: 4px;
  margin: 0;
}


td,
tr {
  border-style: none;
  border-width: 0;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 0.25ch 1ch
}