@font-face {
  font-family: 'Noto Sans', sans-serif;
  src:
    url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}

:root {
  background: linear-gradient(to top, gainsboro 0%, white 50%, white 100%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12pt;
  font-weight: 400;
}


#AppBase {
  padding: 4vh 4vw;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
  justify-items: stretch;
  justify-self: stretch;
  align-self: stretch;
  background-color: transparent;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  width: auto;
  margin: 0;
  position: absolute;
}